# Binary produced from the Makefile 
rw

# Ignore the goreleaser dist folder
cli/dist/

# Ignore the local .env file
.env

# Ignore the archives of the templates
cli/templates_archives/*
!cli/templates_archives/.keep

# Misc ignores
.DS_Store
